body {
    background-color: black;
    margin: 0;
}

.head111 {
    background: linear-gradient(to top, #11001C, #000000);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -25px;
}

.map {
    display:flex;
    flex-direction: row;
    gap:35px;
    color: white;
    font-weight: 700;
    justify-content: center;
    margin-bottom: 25px;
}

.logo-display img {
    width: 100px;
    height: 100px;
    filter: drop-shadow(0 0 10px purple);
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Lucida Handwriting', cursive;
    font-size: 25px;
}

a:hover {
    color: purple;
}

h3 {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Lucida Handwriting', cursive;
    font-size: 25px;
}

h3:hover {
     color: purple;
}

u {
    color: #E0AAFF;
}

.intro {
    width: 100%;
    height: 400px;
    margin: 0;
    background-size: cover;       
    background-position: bottom;  
    background-repeat: no-repeat;  
    position: relative; 
    overflow: hidden;
}

.intro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(1.5) brightness(1.1) saturate(2.2);
    border-radius: 2%;
    object-position: center 75%;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 20%;
    width: 60%;
    height: auto;
}

.overlay h2 {
    color: white;
    text-shadow: 0 0 50px yellow; 
    font-size: 35px;
    font-weight: 700;
    font-family: 'Times New Roman', serif;
    text-align: center;
}

.overlay h1 {
    color: #E0AAFF;
    font-size: 100px;
    text-align: center;
}

.head h1 {
    font-family: 'Lucida Handwriting', cursive;
    font-size: 40px;
    font-weight: 200;
}

.statement {
    color:white;
    text-align: center;
    list-style-position: inside;
    display: flex;
    justify-content: center;
}

.statement p {
    font-size: 40px;
    font-weight: 900;
}

.statement ul {
    font-size: 20px;
    font-weight: 500;
}

.statement section {
    width: 400px;
}

.tures {
    flex-direction: column;
}

.tures p  {
    color:white;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.tures ul  {
    color:white;
    text-align: center;
    list-style-position: inside;
    font-size: 20px;
}

.icon-point {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

h1 {
    color:white;
    text-align: center;
}

.top hr {
    width:70%;
    height: 20px;
    box-shadow: 10px -7px 5px purple;
    border: none;
    border-top: 2px solid white;
    border-right: 2px solid white;
    margin-top: 50px;
    align-items: center;
}

.bottom hr {
    width:70%;
    height: 20px;
    box-shadow: -7px 10px 5px purple;
    border: none;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    margin-bottom: 50px;
    align-items: center;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: -50px;
    margin-left: 200px;
    width: 70%;
}

.p-header {
    text-align: center;
    margin: 40px 0 30px 0;
    padding: 0 20px;
}

.p-header h2 {
    color: #E0AAFF;
    font-family: 'Lucida Handwriting', cursive;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 0 0 10px rgba(224, 170, 255, 0.3);
}

.p-header p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* BASIC MYSTERY BOX */
.item {
    width: 250px;
    height: auto;
    border: 2px solid yellow;
    border-radius: 5%;
    margin-top: 50px;
    background-color: #C78C06;
    text-align: center;
}

.tier h1 {
    margin: 15px;
    color: yellow;
    font-family: 'Lucida Handwriting', cursive;
    font-size: 20px;
    font-weight: 900;
}

.det h2 {
    margin: 10px;
    color: yellow;
    font-family: 'monospace', sans-serif;
    font-size: 20px;
}

.det p {
    margin: 10px;
    color: white;
    font-family: 'Times New Roman', serif;
}

.item img {
    width: 70%;
    height: auto;
    object-fit: cover;
    margin: 0;
    filter: drop-shadow(0 0 15px yellow);
}

.btn button {
    width: 200px;
    border: none;
    background: linear-gradient(145deg, #C78C06, #FFDB58);
    border-radius: 7px;
}

.btn button:hover {
    box-shadow: 0 0 15px #EBC9FF;
    background: linear-gradient(to bottom, #AeBB0C,#B8860B);
    border-radius: 7px;
}

/* PRO MYSTERY BOX */
.item1 {
    width: 250px;
    height: auto;
    border: 2px solid green;
    border-radius: 5%;
    margin-top: 50px;
    background-color: #0D2818;
    text-align: center;
}

.tier1 h1 {
    margin: 15px;
    color: green;
    font-family: 'Lucida Handwriting', cursive;
    font-size: 20px;
    font-weight: 900;
}

.det1 h2 {
    margin: 10px;
    color: green;
    font-family: 'monospace', sans-serif;
    font-size: 20px;
}

.det1 p {
    margin: 10px;
    color: white;
    font-family: 'Times New Roman', serif;
}

.item1 img {
    width: 70%;
    height: auto;
    object-fit: cover;
    margin: 0;
    filter: drop-shadow(0 0 15px green);
}

.btn1 button {
    width: 200px;
    border: none;
    background: linear-gradient(145deg, #0A9548, #04471C);
    border-radius: 7px;
}

.btn1 button:hover {
    box-shadow: 0 0 15px #EBC9FF;
    background: linear-gradient(to bottom, #04471C,#020202);
    border-radius: 7px;
}

/* EPIC MYSTERY BOX */
.item2 {
    width: 250px;
    height: auto;
    border: 2px solid purple;
    border-radius: 5%;
    margin-top: 50px;
    background-color: #11001C;
    text-align: center;
}

.tier2 h1 {
    margin: 15px;
    color: purple;
    font-family: 'Lucida Handwriting', cursive;
    font-size: 20px;
    font-weight: 900;
}

.det2 h2 {
    margin: 10px;
    color: purple;
    font-family: 'monospace', sans-serif;
    font-size: 20px;
}

.det2 p {
    margin: 10px;
    color: white;
    font-family: 'Times New Roman', serif;
}

.item2 img {
    width: 70%;
    height: auto;
    object-fit: cover;
    margin: 0;
    filter: drop-shadow(0 0 15px purple);
}

.btn2 button {
    width: 200px;
    border: none;
    background: linear-gradient(145deg, #5A00FF, #8E2DE2);
    border-radius: 7px;
}

.btn2 button:hover {
    box-shadow: 0 0 15px #EBC9FF;
    background: linear-gradient(to bottom, #3C096C,#10002B);
    border-radius: 7px;
}

.btn-cart, .btn1-cart, .btn2-cart{
    border: none;
    margin: 30px 10px;
}

.btn .btn1 .btn2 h1 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 ;
}

.item img:hover, 
.item1 img:hover, 
.item2 img:hover {
    animation: shake 0.5s ease-in-out infinite;
}

@keyframes shake {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-3deg); }
    75% { transform: rotate(3deg); }
}

/* ABOUT SECTION */
.about {
    margin-top: 50px;
    background-color: #C77DFF;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 20px;
}

.a-info h1 {
    margin: 20px 350px;
    font-size: 35px;
    white-space: nowrap;
    color: black;
    font-family: 'Lucida Handwriting', cursive;
}

.a-info h2 {
    margin: 20px 200px;
    font-size: 20px;
    color: black;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
}

.a-info label {
    font-size: 20px;
    font-weight: 700;
    margin: 15px;
}

input {
    width: 350px;
    height: 100px;
    border: 3px solid #10002b;
    border-radius: 10px;
    vertical-align: top;
}

.a-info button {
    margin: 20px 0 0 100px;
    color: white;
    background-color: #10002b;
    width: 150px;
    height: 50px;
    border-radius: 15px;
}

.a-info button:hover {
    background-color: #3C096C;
}

.s-box {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin: 50px 70px 0 0;
}

.s-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.5);
}

.FH {
    background: linear-gradient(to top, #11001C, #000000);
    color: white;
    padding: 40px 20px 20px;
    margin-top: 50px;
    border-top: 2px solid #E0AAFF;
    text-align: center;
}

.greet h1 {
    font-family: 'Lucida Handwriting', cursive;
    font-size: 35px;
    color: #E0AAFF;
    margin-bottom: 10px;
}

.greet h2 {
    font-family: 'Segoe Print', serif;
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

.foot {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.logo-display1 img {
    width: 100px;
    height: 100px;
    filter: drop-shadow(0 0 10px purple);
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    margin-bottom: 10px;
}

.links a, ul {
    color: white;
    text-decoration: none;
    font-family: 'Segoe Print', serif;
    font-size: 16px;
}

.links a:hover {
    color: #E0AAFF;
}

.cont h1 {
    font-family: 'Segoe Print', serif;
    font-size: 16px;
    color: white;
    margin-top: -3px;
    text-align: left;
}

.cont p {
    color: white;
    font-family: 'Segoe Print', serif;
    font-size: 16px;
    margin: 8px 0;
}

.copyrights p {
    color: white;
    font-family: 'Segoe Print', serif;
    font-size: 16px;
    line-height: 2.2;
    margin: 0;
}

.FH > p:last-child {
    margin-top: 30px;
    font-family: 'Segoe Print', serif;
    font-size: 14px;
    color: #E0AAFF;
}

@media (max-width: 600px) {
    body {
        margin: 0; 
    }

    a {
        font-size: 15px;
    }

    h3 {
        font-size: 15px;
    }

    .intro img {
        width: 100%;
    }

    .overlay h2 {
        font-size: 25px;
    }

    .statement {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .statement section {
        width: 90%;
        max-width: 350px;
    }

    .statement p {
        font-size: 32px;
    }

    .tures p {
        font-size: 32px;
    }

    .tures ul {
        font-size: 18px;
        padding: 0 20px;
    }

    .products {
        flex-direction: column;
        gap: 20px; 
        justify-content: center;
        margin-left: 100px;
    }

    .about {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    .a-info h1 {
        margin: 20px 0;
        font-size: 28px;
        white-space: normal;
        text-align: center;
    }

    .a-info h2 {
        margin: 15px 0;
        font-size: 18px;
        text-align: center;
    }

    form {
        margin-left: 0;
        align-items: center;
    }

    input {
        width: 90%;
        max-width: 300px;
        height: 80px;
    }

    .a-info button {
        margin: 20px 0 0 0;
    }

    .s-box {
        width: 300px;
        height: 300px;
        margin: 20px 0 0 0;
    }

    .s-box img {
        transform: scale(1.2);
    }

    .links a {
        margin-left: -75px;
    }

    .cont p {
        margin-left: -30px;
    }

    .foot img {
        margin: 20px 0 0 0;
    }
}